@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Rubik&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face{
  font-family: 'Josefin Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Rubik&family=Urbanist:wght@500&display=swap');
}

@font-face{
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
}

html{
    background-color: whitesmoke
}

.summary{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0 5vw;
  margin-top: 15vh;
}

u{
  background: rgba(136, 255, 176, 0.6);
  text-decoration: none !important;
  color: black;
}

a{
  color: inherit !important;
  text-decoration: none !important;
}
.root {
  background:whitesmoke;
  display: flex;
  height: 100%;
  width: 100%;
}

.logo{
  height: 5vh;
  left: 85vw;
  position: absolute;
  top: 5vh;
}

.title{
  font-family: 'Josefin Sans';
  font-size: 10vh;
  font-style: bold; 

}

.body_text{
  font-family: 'Montserrat';
  display: block;
  margin: 2vh 0;
  font-size: 4vh;
}

.contact{
  bottom: 7vh;
  left: 30vw;
  position: relative;
}

.icon{
  margin-right: 2.5vh;
  height: 5vh;
  width: 5vh;
}



