@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face{
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
}

html{
    font-family: 'Montserrat';
    background-color: whitesmoke
}

.summary{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0 5vw;
  height: 100%;
  margin-top: 15vh;
}

u{
  text-decoration: none!important; 
  color: #88FFB0;
}

.root {
  background:whitesmoke;
  display: flex;
  height: 100%;
  width: 100%;
}

.logo{
  height: 5vh;
  left: 90vw;
  position: absolute;
  top: 5vh;
}

.title{
  font-size: 10vh;
  font-style: bold; 

}

.body_text{
  display: block;
  margin: 2vh 0;
  font-size: 4vh;
}

.contact{
  bottom: 38vh;
  left: 35vw;
  position: absolute;
}

.icon{
  margin-right: 2.5vh;
  height: 5vh;
  width: 5vh;
}



